.reporteGeneral {
    margin: 0px;
    display: flex;
    padding: 0px;
    max-width: 100%;
    height: 100%;
    font-family: system-ui;
}

.reporteGeneral .todofondo{
    background-image: url('../../components/img/fondo.jpg'); 
    background-color: #002854; 
    background-blend-mode: multiply;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
}

.reporteGeneral .cont-blanco{
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    height: 837px;
    display: flex;
    padding: 0px;
}

.reporteGeneral .cont-izq{
    width: 353px;
    border-radius: 13px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 8px;
}

.reporteGeneral .datagenero{
    padding: 0px;
    padding-bottom: 15px;
}

.reporteGeneral .dataedad{
    padding-top: 0px;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}

.reporteGeneral .subtitulo1{
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 4px;
    margin-left: 8px;
    display: flex;
}

.reporteGeneral .subtituloe1{
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 4px;
    margin-left: 8px;
    width: 184px;
}

.reporteGeneral .subtituloe2{
    padding: 0px;
    align-content: center;
    padding-top: 4px;
    padding-bottom: 10px;
    text-align: right;
}

.reporteGeneral .t1{
    color: #002854;
    font-weight: bold;
    font-size: 19px;
    width: 224px;
}

.reporteGeneral .t1::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #DD0919;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.reporteGeneral .e2{
    color: #002854;
    font-weight: bold;
    font-size: 32px;
    margin-right: 7px;
}

.reporteGeneral .cajagenero{
    padding: 0px;
    display: flex;
}

.reporteGeneral .btn-generoF{
    margin-right: 8px;
    font-size: 21px;
    width: 116px;
    height: 38px;
    background-color: #DD0919;
    color: white;
    margin-left: 8px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    padding-top: 3px;
}

.reporteGeneral .text-generoF{
    font-size: 16px;
    color: #ffffff; 
    margin-right: 8px; 
}

.reporteGeneral .btn-generoM{
    margin-right: 8px;
    font-size: 21px;
    width: 116px;
    height: 38px;
    background-color: #002854;
    color: white;
    margin-left: 8px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    padding-top: 3px;
}

.reporteGeneral .text-generoM{
    font-size: 16px;
    color: #ffffff; 
    margin-right: 8px; 
}

.reporteGeneral .icongeneroF{
    margin-top: -5px;
}

.reporteGeneral .icongeneroM{
    margin-right: 5px;
    margin-top: -2px;
}

.reporteGeneral .iconatras{
    margin-right: 5px;
    margin-top: 2px;
}

.reporteGeneral .t2{
    color: #002854;
    margin-left: 20px;
    margin-top: -4px;
}

.reporteGeneral .infoizq1{
    background-color: #7e7e7e;
    border-radius: 15px;
    padding: 0px;
    color: white;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
}

.reporteGeneral .infoizq2{
    background-color: #002854;
    border-radius: 15px;
    padding: 0px;
    color: white;
    margin-top: 15px;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
}

.reporteGeneral .infoizq3{
    background-color: #DD0919;
    border-radius: 15px;
    padding: 0px;
    color: white;
    margin-top: 15px;
    height: 256px;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
}

.reporteGeneral .infoizq4{
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    color: #002854;
    margin-top: 10px;
    height: 150px;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
}

.reporteGeneral .izqarriba{
    display: flex;
    padding-bottom: 0px;
}

.reporteGeneral .izqizquierda{
    padding: 0px;
    margin-left: 7px;
}

.reporteGeneral .izqderecha{
    padding: 0px;
    width: 30%;
    margin-right: 5px;
    text-align: right;
}

.reporteGeneral .izqderecha1{
    padding: 0px;
    width: 45%;
    margin-right: 5px;
    text-align: right;
}

.reporteGeneral .izqabajo{
    display: flex;
    padding-top: 0px;
}

.reporteGeneral .izqabajo1{
    display: flex;
    padding-top: 0px;
    height: 147px;
    border-bottom: double;
}

.reporteGeneral .iconopersona{
    font-size: 60px;
}

.reporteGeneral .p1{
    font-size: 18px;
}

.reporteGeneral .p2{
    margin-top: -5px;
}

.reporteGeneral .p3{
    font-size: 30px;
    font-weight: bold;
}

.reporteGeneral .p4{
    margin-top: -8px;
}

.reporteGeneral .p5{
    font-weight: bold;
    font-size: 21px;
    margin-top: -7px;
    margin-bottom: 23px;
}

.reporteGeneral .p6{
    margin-bottom: 10px;
}

.reporteGeneral .p6::before {
    content: "";
    position: revert-layer;
    width: 8px;
    height: 8px;
    background-color: white;
    display: inline-block;
    margin-right: 7px;
}

.reporteGeneral .p7{
    font-weight: bold;
    margin-bottom: 10px;
}

.reporteGeneral .cont-der{
    padding: 0px;
}

.reporteGeneral .cont-arriba{
    padding: 0px;
    display: flex;
    height: 200px;
}

.reporteGeneral .cont-abajo{
    padding: 0px;
    display: flex;
    margin-top: 50px;
}

.reporteGeneral .c-arr-izq{
    background: linear-gradient(to bottom, #002854 80%, white 20%);
    padding: 0px;
}

.reporteGeneral .c-arr-der{
    width: 232px;
}

.reporteGeneral .b{
    color: white;
    padding: 0px;
    margin-left: 20px;
}

.reporteGeneral .p8{
    font-size: 25px;
    font-weight: bold;
    margin-top: -2px;
}

.reporteGeneral .p9{
    margin-top: -7px;
}

.reporteGeneral .arr-izq{
    padding: 0px;
    display: flex;
}

.reporteGeneral .izq-izq{
    display: flex;
    padding-bottom: 10px;
}

.reporteGeneral .izq-der{
    width: 50%;
    padding-bottom: 10px;
}

.reporteGeneral .aba-izq{
    padding-top: 0px;
    display: flex;
}

.reporteGeneral .der-4{
    align-content: center;
    text-align: center;
    margin-right: 5px;
    padding-left: 0px;
}

.reporteGeneral .iconoestudiante{
    font-size: 80px;
}

.reporteGeneral .p10{
    font-weight: bold;
    font-size: 50px;
    margin-top: -9px;
}

.reporteGeneral .p11{
    margin-top: -13px;
    font-size: 17px;
}

.reporteGeneral .izquierda-4{
    padding-right: 0px;
    text-align: center;
    padding-top: 20px;
}

.reporteGeneral .derecha-4{
    align-content: center;
    text-align: right;
    padding-left: 0px;
    margin-right: 18px;
}

.reporteGeneral .p12{
    font-size: 18px;
    margin-top: 8px;
}

.reporteGeneral .p13{
    font-size: 14px;
    margin-top: -5px;
}

.reporteGeneral .p14{
    font-weight: bold;
    font-size: 41px;
    margin-top: -8px;
}

.reporteGeneral .porc{
    font-weight: bold;
    font-size: 30px;
}

.reporteGeneral .btn-desc{
    font-size: 18px;
    width: 200px;;
    height: 65px;
    background-color: #DD0919;
    color: white;
    margin-top: 15px;
}

.reporteGeneral .p15{
    color: #002854;
    font-weight: bold;
    font-size: 19px;
    margin-top: 7px;
}

.reporteGeneral .columna1{
    width: 372px;
}

.reporteGeneral .columna2{
    width: 410px;
    padding-left: 14px;
}

.reporteGeneral .columna3{
    padding-left: 14px;
}

.reporteGeneral .caja1{
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
    width: 340px;
    height: 545px;
}

.reporteGeneral .caja2{
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
    width: 378px;
    height: 260px;
}

.reporteGeneral .caja3{
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
    width: 378px;
    height: 260px;
    margin-top: 25px;
}

.reporteGeneral .caja4{
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
    margin-bottom: 25px;
    width: 688px;
    height: 260px;
    margin-right: 0px;
    margin-left: 0px;
}

.reporteGeneral .caja5{
    display: flex;
    padding: 0px;
}

.reporteGeneral .caja6{
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
    width: 331px;
    height: 260px;
    margin-left: 0px;
}

.reporteGeneral .caja7{
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 3px 5px 10px rgba(70, 58, 58, 0.5);
    width: 331px;
    height: 260px;
    margin-left: 25px;
}

.reporteGeneral .caja1izq{
    padding: 0px;
    margin-left: 7px;
    border-left: 2px solid #DD0919;
    padding-left: 4px;
}

.reporteGeneral .caja1der{
    padding: 0px;
    width: 10%;
    margin-right: 5px;
    text-align: right;
    color: #DD0919;
}

.reporteGeneral .l1{
    font-size: 20px;
    font-weight: bold;
    color: #002854
}

.reporteGeneral .l2{
    margin-top: -5px;
    color: #002854
}

.reporteGeneral .casa1abiz{
    padding: 0px;
    margin-left: 7px;
}

.reporteGeneral .casa1abder{
    padding: 0px;
    width: 45%;
    margin-right: 5px;
    text-align: right;
}

.reporteGeneral .caja1abajo{
    display: flex;
    padding-top: 25px;
    height: 391px;
}

.reporteGeneral .l3{
    margin-bottom: 13px;
    color: #002854
}

.reporteGeneral .l3::before {
    content: "";
    position: revert-layer;
    width: 8px;
    height: 8px;
    background-color: #DD0919;
    display: inline-block;
    margin-right: 7px;
}

.reporteGeneral .l4{
    font-weight: bold;
    margin-bottom: 13px;
    color: #002854
}

.reporteGeneral .caja1abajo1{
    display: flex;
}

.reporteGeneral .abajo1izq{
    padding: 0px;
    margin-left: 10px;
    align-content: center;
}

.reporteGeneral .abajo1der{
    width: 35%;
    padding: 0px;
    margin-top: -3px;
}

.reporteGeneral .l5{
    font-size: 19px;
    color: #002854;
    font-weight: 500;
}

.reporteGeneral .l6{
    margin-top: -5px;
    color: #002854
}

.reporteGeneral .l7{
    font-weight: bold;
    font-size: 40px;
    float: right;
    margin-right: 3px;
    color: #002854
}

.reporteGeneral .genF{
    color: #002854;
    font-size: 18px;
    width: 411px;
    margin-right: 10px;
    font-weight: 500;
}

.reporteGeneral .genF::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #DD0919;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.reporteGeneral .genM{
    color: #002854;
    font-size: 18px;
    width: 404px;
    margin-right: 30px;
    font-weight: 500;
}

.reporteGeneral .genM::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #002854;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.reporteGeneral .caja1der_1{
    padding: 0px;
    margin-right: 5px;
    text-align: right;
    color: #DD0919;
    display: contents;
}

.reporteGeneral .btn-reg{
    font-size: 18px;
    width: 200px;
    height: 50px;
    background-color: #002854;
    color: white;
    margin-top: 15px;
    margin-left: 35px;
}

.reporteGeneral .barra{
    display: flex;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 5px;
}

.reporteGeneral .barra_1{
    padding-bottom: 0px;
}

.reporteGeneral .barra_2{
    padding-top: 3px;
}

.reporteGeneral .b1{
    margin-left: 5px;
    color: #002854;
    font-weight: 500;
    margin-top: 15px;
}

.reporteGeneral .b2{
    margin-left: 18px;
    color: #DD0919;
    font-weight: bold;
}

.reporteGeneral .b3{
    margin-left: 18px;
    color: #002854;
    font-weight: bold;
}

.reporteGeneral .b4{
    margin-left: 5px;
    color: #002854;
    font-weight: 500;
}

.reporteGeneral .grafica3{
    height: 160px;
    padding: 0px;
    width: 93%;
}

.reporteGeneral .cont_1{
    display: flex;
}

.reporteGeneral .gc1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reporteGeneral .gc2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reporteGeneral .gc3{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reporteGeneral .l8{
    margin-bottom: 10px;
    color: #002854
}

.reporteGeneral .l8::before {
    content: "";
    position: revert-layer;
    width: 8px;
    height: 8px;
    background-color: #002854;
    display: inline-block;
    margin-right: 7px;
}

.reporteGeneral .l9{
    margin-bottom: 10px;
    color: #002854
}

.reporteGeneral .l9::before {
    content: "";
    position: revert-layer;
    width: 8px;
    height: 8px;
    background-color: #7e7e7e;
    display: inline-block;
    margin-right: 7px;
}

.reporteGeneral .l10{
    margin-bottom: 10px;
    color: #002854
}

.reporteGeneral .l10::before {
    content: "";
    position: revert-layer;
    width: 8px;
    height: 8px;
    background-color: #DD0919;
    display: inline-block;
    margin-right: 7px;
}

.reporteGeneral .cont_2{
    display: flex;
    padding: 0px;
}

.reporteGeneral .c2_1{
    padding: 0px;
    align-self: center;
    padding-left: 5px;
    width: 123px;
}

.reporteGeneral .c2_2{
    padding: 0px;
    align-self: center;
}

.reporteGeneral .l11{
    margin-bottom: 10px;
    font-weight: 500;
    color: #002854
}

.reporteGeneral .iconform{
    margin-right: 5px;
}

.reporteGeneral .circular-chart {
    max-width: 100%;
    max-height: 250px;
    margin: auto;
    display: block;
}

.reporteGeneral .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.reporteGeneral .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.reporteGeneral .cont_3{
    align-content: center;
    margin-left: 5px;
    height: 196px;
    width: 70%;
}

.reporteGeneral .l12{
    color: #002854;
    margin-top: -14px;
    font-size: 18px;
    font-weight: 500;
}

.reporteGeneral .cont_4{
    width: 83%;
    padding-right: 37px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 22px;
}

.reporteGeneral .texto1{
    font-size: 5px;
    fill: #DD0919;
    font-weight: 500;
}

.reporteGeneral .texto2{
    font-size: 4px;
    fill: #002854;
}

.reporteGeneral .barra2{
    display: flex;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 8px;
}

.reporteGeneral .barra3{
    display: flex;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 19px;
    padding-bottom: 8px;
}

.reporteGeneral .m1{
    color: #002854
}

.reporteGeneral .espacio{
    padding-top: 0px;
    text-align: right;
    width: 220px;
    padding-right: 8px;
}

.reporteGeneral .c2{
    margin-left: 14px;
    color: #002854;
    font-weight: bold;
    margin-top: -8px;
    margin-right: 8px;
}

.reporteGeneral .p0{
    padding: 0px;
}
.especialA{
    padding: 5px !important;
}
.reporteGeneral .vertical-progress1{
    transform: rotate(-90deg);
    width: 125px;
    margin-top: 44px;
    margin-left: -41px;
}

.reporteGeneral .vertical-progress2{
    transform: rotate(-90deg);
    width: 125px;
    margin-top: -20px;
    margin-left: -5px;
}

.reporteGeneral .vertical-progress3{
    transform: rotate(-90deg);
    width: 125px;
    margin-top: 52px;
    margin-left: -50px;
}

.reporteGeneral .vertical-progress4{
    transform: rotate(-90deg);
    width: 125px;
    margin-top: 52px;
    margin-left: -82px;
    margin-right: -13px;
}

.reporteGeneral .grlive{
    height: 134px;
    border-bottom: 1px solid #7e7e7e;
    padding-bottom: 0px;
    display: flex;
    padding-top: 0px;
    margin-top: -9px;
}

.reporteGeneral .cont_a{
    display: flex;
    padding: 0px;
    padding-top: 9px;
}

.reporteGeneral .j1{
    margin-left: 84px;
}

.reporteGeneral .j2{
    margin-left: 23px;
}

.reporteGeneral .h{
    margin-inline-start: 10px;
    margin-top: -5px;
    margin-left: -10px;
    display:flex;
}

.reportGeneral .h .ab{
    margin-left: 10px !important;
}
.reporteGeneral .j{
    width: 80px;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
}

.reporteGeneral .c{
    width: 40px;
    justify-content: center;
}

.reporteGeneral .especial{
    width: 20px !important;
    margin-left: -8px;
}

.categoria-container {
    margin-bottom: 10px; /* Ajusta este valor según el espacio que desees */
}

.color1 { stroke: #DD0919; }
.color2 { stroke: #7e7e7e; }
.color3 { stroke: #002854; }

.p-spacing {
    margin-left: 10px;
    width: 100px;
    font-size: 13px;
    text-align: center;
  }